*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #337AB7;
    height: 60px;
    text-align: center;
    font-size: 40px;
}
nav h3{
    color: white;
    z-index: 1;
}

#container{
    position: relative;
    margin-left: 15vw;
    margin-top: 20vh;
    margin-right: 15vw;
}
#container h2{
    text-align: center;
}

.input-body{
    display: flex;
    margin-bottom: 1.25rem;
}
input[type="submit"]{
    position: relative;
    left: 450px;
}
input[type="text"]{
    width: 97%;
    height: 4vh;
}

.cardheader{
    background-color: beige;
    padding: 1rem;
    border: 1px solid black;
}
.input-body{
    padding: 20px;
    background-color: antiquewhite;
}
.input-body>div{
    width: 33%;
}

input[type="date"]{
    height: 4vh;
    width: 20vw;
}

#page1sub{
    background-color: white;
    display: inline-block;
    z-index: 99;
    height: 4vh;
    width: 4vw;
}